/* --------------- */
/* Reset           */
/* --------------- */

/* Box Sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

/* make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* remove anims for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ----------------- */
/* Custom Properties */
/* ----------------- */

:root {
  /* colors */
  --clr-beatshot-bluegrey: 215, 41%, 18%;
  --clr-beatshot-darkblue: 215, 91%, 9%;
  --clr-beatshot-lightblue: 193, 81%, 58%;
  --clr-beatshot-medblue: 197, 66%, 21%;
  --clr-beatshot-darkgrey: 226, 8%, 49%;
  --clr-beatshot-lightgrey: 227, 15%, 70%;
  --clr-white: 0, 0%, 100%;
  --clr-sidebar: 216, 59%, 13%;

  /* font-sizes */
  --fs-900: 9.375rem;
  --fs-800: 6.25rem;
  --fs-700: 3.5rem;
  --fs-600: 2rem;
  --fs-500: 1.75rem;
  --fs-450: 1.5rem;
  --fs-400: 1.125rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;
  --fs-100: 0.75rem;
  --fs-75: 0.65rem;
  --fs-50: 0.5rem;
  /* font-families */
  --ff-serif: "Montserrat", sans-serif;
}

/* all */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-rendering: auto;
}

html {
  font-size: 22px;
  color: hsl(var(--clr-white));
  height: 100%;
  scroll-behavior: smooth;
}

/* set up body */
body {
  display: flex;
  flex-direction: column;
  font-family: var(--ff-serif);
  font-size: var(--fs-400);
  font-weight: 400;
  line-height: 1.25;
  min-height: 100vh;
  background-color: hsl(var(--clr-beatshot-darkblue));
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  flex-grow: 1;
}

/* primary header */
header {
  top: 0;
  /*position: sticky;*/
  padding: 0.5em 1em 0.5em 1em;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  background: hsl(var(--clr-beatshot-bluegrey));
}

/*-----------------------------------*/
/*------------  footer  -------------*/
/*-----------------------------------*/
/* footer
/*      div.footer-brand-container
/*        div.footer-logo-container
/*         img.footer-logo
/*          h2.footer-logo-text
/*        div.footer-text-container
/*          p.footer-description-text
/*      ul.footer-icon-list
/*        li.footer-icon-item
/*          a.footer-icon-link link  */

footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  max-height: 20%;
  width: 100%;
  bottom: 0;
  padding: 0.5em 1em 0.5em 1em;
  background: hsl(var(--clr-beatshot-bluegrey));
}
.footer-brand-container {
  display: flex;
  gap: 0.25rem;
}
.footer-logo-container {
  align-items: center;
  display: inline-flex;
  flex-shrink: 0;
  gap: 0.25rem;
}
.footer-logo {
  height: 1.25rem;
  object-fit: contain;
}
.footer-logo-text {
  line-height: normal;
  text-shadow: 0 0 8px hsl(var(--clr-beatshot-lightblue));
  color: hsl(var(--clr-beatshot-lightblue));
}
.footer-text-container {
  align-items: center;
  display: inline-flex;
  flex-wrap: wrap;
}
.footer-description-text {
  font-size: var(--fs-200);
  max-height: var(--fs-200) + (2 * 0.2 rem);
  overflow: hidden;
}
.footer-icon-list {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  gap: 0.5rem;
  justify-content: flex-end;

}
.footer-icon-link {
  color: hsl(var(--clr-white));
}

/* button stuff */
button {
  border-radius: 0.25rem;
  margin-inline: auto;
  border-radius: 0rem;
  border: none;
  outline: none;
  padding: 0.25rem;
  cursor: pointer;
}
button:hover {
  background-color: hsl(var(--clr-beatshot-lightblue));
}
.button-text {
  font-family: var(--ff-serif);
  color: hsl(var(--clr-white));
}
button:disabled {
  border-radius: 0.25rem;
  background-color: hsl(var(--clr-beatshot-lightgrey));
}
button:disabled:hover {
  background-color: hsl(var(--clr-beatshot-darkgrey));
}
.button-recover {
  margin-inline: unset;
  font-size: var(--fs-200);
}
.fake-button,
.fake-button:hover,
.fake-button-recover {
  all: unset;
  cursor: pointer;
}

/* -------------------------- */
/* sign up and register menus */
/* -------------------------- */
/* form-container
    front/back
      h1.title/p.errMsge/form.form/p
        form-label/text-input/p
*/

.form-container {
  width: auto;
  max-width: 400px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: hsla(0, 0%, 0%, 0.5);
  gap: 0.5rem;
}
form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  gap: 0.5rem;
}
.label-input-container {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}
.form-title {
  font-size: 1.5rem;
  color: hsl(var(--clr-beatshot-lightblue));
  text-align: center;
}
.form-label {
  font-size: var(--fs-200);
}
.form-text {
  font-size: var(--fs-300);
  background: hsl(var(--clr-white));
  border: none;
  padding: 0.15rem;
  border-radius: 0.25rem;
}
.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  font-size: var(--fs-300);
  text-transform: capitalize;
  text-align: center;
}
.checkEmailMsg {
  background-color: hsl(var(--clr-beatshot-lightblue));
  color: hsl(var(--clr-dark));
  font-size: var(--fs-300);
  text-transform: capitalize;
  text-align: center;
}
.instructions {
  font-size: var(--fs-100);
  background: hsl(var(--clr-beatshot-bluegrey));
  color: var(--text-white);
  padding: 0.2rem 0.2rem;
  position: relative;
  bottom: -5px;
}
/* checkbox container */
.persistCheck {
  display: inline-flex;
}
.form input[type="checkbox"] {
  appearance: none;
  display: none;
  background-color: #fff;
}
/* unchecked icon */
.form input[type="checkbox"] + label.fa:before {
  display: inline-block;
  content: "\f0c8";
  cursor: pointer;
  letter-spacing: 6px;
}
/* hover unchecked icon */
.form input[type="checkbox"] + label.fa:hover {
  color: hsl(var(--clr-beatshot-lightblue));
}
/* pressed unchecked icon */
.form input[type="checkbox"] + label.fa:active {
  color: hsl(var(--clr-beatshot-lightblue), 0.5);
}
/* checked icon */
.form input[type="checkbox"]:checked + label.fa:before {
  content: "\f14a";
  cursor: pointer;
  letter-spacing: 6px;
}
/* checked icon color */
.form input[type="checkbox"]:checked + label.fa {
  color: hsl(var(--clr-beatshot-lightblue));
}
/* hovered checked icon */
.form input[type="checkbox"]:checked + label.fa:hover {
  color: hsl(var(--clr-beatshot-lightgrey));
}
/* pressed checked icon */
.form input[type="checkbox"]:checked + label.fa:active {
  color: hsl(var(--clr-beatshot-darkgrey));
}
.offscreen {
  position: absolute;
  left: -9999px;
}
.hide {
  display: none;
}
.show {
  display: inline-block;
}
.valid {
  color: limegreen;
  margin-left: 0.25rem;
}
.invalid {
  color: red;
  margin-left: 0.25rem;
}
/* --------------- */
/*    profile      */
/* --------------- */

.profile-sidebar {
  display: flex;
  flex-direction: column;
  /*flex-grow: 1;*/
  max-width: 20%;
  padding: 0.5em 1em 0.5em 1em;
  background: hsl(var(--clr-sidebar));
  gap: 0.5rem;
}
.profile-name-text {
  text-align: center;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  font-weight: bold;
  text-shadow: 0 0 4px rgba(62, 198, 235, 1);
  color: rgba(62, 198, 235, 1);
}
.profile-name-text:hover {
  text-shadow: 0 0 4px hsl(var(--clr-white));
  color: hsl(var(--clr-white));
}
.profile-sidebar-text {
  color: hsl(var(--clr-white));
}
.sidebar-item {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.stats-title {
  font-weight: bold;
  text-shadow: 0 0 4px rgba(62, 198, 235, 1);
  color: rgba(62, 198, 235, 1);
}

/*-------------*/
/* Patch Notes */
/*-------------*/
.pn-container {
  display:flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  width: auto;
  min-width: 400px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.pn-wrapper {
  padding: 1rem;
  border-color:hsl(var(--clr-beatshot-lightblue));
  box-shadow: 0px 0px 6px 0px hsl(var(--clr-beatshot-lightblue));
  border-radius: 0.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
}
.pn-title{
  text-align: center;
  font-size: var(--fs-600);
  font-weight: bold;
  text-shadow: 0 0 4px rgba(62, 198, 235, 1);
  color: rgba(62, 198, 235, 1);
}
.pn-version-number {
  font-size: var(--fs-300);
  font-weight: bold;
  color: rgba(62, 198, 235, 1);
}
.pn-date {
  font-size: var(--fs-100);
  letter-spacing: 0.1rem;
}
.pn-version-date {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pn-wrapper ul {
  display:flex;
  flex-direction: column;
  gap: 0.1rem;
}
.pn-li-lvl1 {
  padding-top: 0.15rem;
  font-size: var(--fs-300);
}
.pn-icon-lvl1 {
  color: rgba(62, 198, 235, 1);
  font-size: var(--fs-100);
  padding-right: 0.25rem;
  vertical-align: 0rem;
}
.pn-li-lvl2,
.pn-li-lvl3 {
  padding-left: 1rem;
  font-size: var(--fs-100);
}
.pn-icon-lvl2,
.pn-icon-lvl3 {
  color: rgba(62, 198, 235, 1);
  font-size: 0.5rem;
  vertical-align: 0rem;
  padding-right: 0.25rem;
}

/* div.flex-container
/*   div.profile-sidebar
     div.content
       div.content-header
       div.content-main
 */
.flex-container {
  display: flex;
  flex-grow: 1;
}
.content {
  margin: 1rem;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: var(--gap, 1rem);
}
.content-header {
  display: flex;
  flex-direction: column;
}
.content-header-text {
  font-size: var(--fs-500);
  text-align: center;
}
.content-main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}
.stats-header {
  display:flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.chart {
  display: flex;
  max-width: 800px;
  margin: auto;
  background-color: hsl(var(--clr-beatshot-darkblue));
  box-shadow: 0px 0px 6px 0px hsl(var(--clr-beatshot-lightblue));
  border-radius: 0.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
}
canvas {
  width: 100% !important;
  height: 100% !important;
}
.select-best-container {
  display:flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  width: auto;
  min-width: 400px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.best-avg-container {
  display:flex;
  gap:1rem;
  font-size: 0.8rem;
}
.select-container {
  background-color: hsl(var(--clr-beatshot-darkblue));
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
  min-width: 400px;
  margin-left: auto;
  margin-right: auto;
}
.select-wrapper {
  display: flex;
  flex-direction: column;
  background-color: hsl(var(--clr-beatshot-darkblue));
  gap: 0.2rem;
  flex: 50%;
}
.select-caption {
  display: flex;
}
.song-select,
.game-mode-select {
  display: flex;
  transition: 0.5s ease-in-out;
  color: hsl(var(--clr-beatshot-darkblue));
  font-size: var(--fs-100);
}
.best-list {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5rem;
  background-color: hsl(var(--clr-beatshot-darkblue));
  box-shadow: 0px 0px 6px 0px hsl(var(--clr-beatshot-lightblue));
  border-radius: 0.25rem;
}
.best-list-item {
  display: flex;
}
.table-header {
  text-align: center;
}
.table-row {
  display:flex;
  flex-direction: row;
  gap:1rem;
}
.col-1 {
  flex-basis: 50%;
  white-space: nowrap;
}
.col-2 {
  display:flex;
  flex-direction: column;
  text-align: right;
  flex-grow:1;
  justify-content: center;
}

/* mobile navigation toggle */
.mobile-nav-toggle {
  display: none;
}

/* mobile toggle */
@media (max-width: 40em) {
  .primary-navigation {
    z-index: 1000;
    margin-top: 3rem;
    flex-wrap: nowrap;
    position: fixed;
    flex-direction: column;
    inset: 0 0 0 40%;
    padding: 0.75rem 1.5rem;
    background: hsl(var(--clr-beatshot-bluegrey));
    transform: translateX(100%);
  }
  .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 9999;
    width: auto;
    height: 2rem;
    right: 1rem;
  }
  footer {
    flex-direction: column;
    gap: 0.5rem;
  }
  .footer-logo-container {
    align-items: center;
    display: inline-flex;
    justify-content: flex-end;
    flex: 1;
  }
  .footer-text-container {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    flex: 1;
  }
  .footer-icon-list {
    justify-content: center;
  }
  .footer-description-text {
    font-size: var(--fs-100);
    max-height: 60px;
  }
  .footer-logo {
    height: 1.2rem;
    object-fit: contain;
  }
  .footer-logo-text {
    font-size: 1.2rem;
  }
  .flex-container {
    flex-direction: column;
  }
  .profile-sidebar {
    min-width: 100%;
    flex-grow: 0;
  }
  .select-best-container {
    min-width: 0;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .select-container {
    flex-direction: column;
    min-width: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .best-avg-container {
    flex-direction: column;
  }
}

/* mobile navigation transform and animation */
.primary-navigation[data-visible="true"] {
  transform: translateX(0%);
  transition: transform 250ms ease-in;
}
.primary-navigation[data-visible="false"] {
  transition: transform 250ms ease-out;
}
.logo {
  height: auto;
  width: 2.5rem;
}

/* --------------- */
/* Utility classes */
/* --------------- */

/* general */

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.flow > * + * {
  margin-top: 1rem;
  outline: 1px solid red;
}

/* lists */
li {
  list-style-type: none;
}

/* links */
.link {
  outline: none; 
  text-decoration: none;
}
.hover-blue:hover {
  color: hsl(var(--clr-beatshot-lightblue));
}
.hover-white:hover {
  color: hsl(var(--clr-white));
}

/* accessibility */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

/* colors */
.bg-dark {
  background-color: hsl(var(--clr-beatshot-darkblue));
}
.bg-light {
  background-color: hsl(var(--clr-beatshot-lightblue));
}
.bg-white {
  background-color: hsl(var(--clr-white));
}

/* text colors */
.text-dark {
  color: hsl(var(--clr-beatshot-darkblue));
}
.text-light {
  color: hsl(var(--clr-beatshot-lightblue));
}
.text-medium {
  color: hsl(var(--clr-beatshot-medblue));
}
.text-darkgrey {
  color: hsl(var(--clr-beatshot-darkgrey));
}
.text-lightgrey {
  color: hsl(var(--clr-beatshot-lightgrey));
}
.text-bluegrey {
  color: hsl(var(--clr-beatshot-bluegrey));
}
.text-white {
  color: hsl(var(--clr-white));
}
.text-center {
  text-align: center;
}

/* typography */
.ff-serif {
  font-family: var(--ff-serif);
}
.letter-spacing-1 {
  letter-spacing: 4.75px;
}
.letter-spacing-2 {
  letter-spacing: 2.7px;
}
.letter-spacing-3 {
  letter-spacing: 2.35px;
}
.uppercase {
  text-transform: uppercase;
}
.fs-900 {
  font-size: var(--fs-900);
}
.fs-800 {
  font-size: var(--fs-800);
}
.fs-700 {
  font-size: var(--fs-700);
}
.fs-600 {
  font-size: var(--fs-600);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-300 {
  font-size: var(--fs-300);
}
.fs-200 {
  font-size: var(--fs-200);
}
.fs-150 {
  font-size: var(--fs-100);
}
.fs-100 {
  font-size: var(--fs-100);
}
.fs-50 {
  font-size: var(--fs-50);
}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
  line-height: 1.1;
}
